{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations
{% endblock %}

{% block body %}
	<div class="imagecontainer">
		<div class="formcontainer">
			<h1>Modifier mes informations</h1>

			{{ form_start(registrationForm) }}

			{{ form_row(registrationForm.pseudo)}}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

			{{ form_row(registrationForm.fullName)}}

			{{ form_row(registrationForm.civilite)}}
			{{ form_row(registrationForm.agreeTerms)}}

			<button type="submit" class="btn btn-success">Modifier</button>

			{{ form_end(registrationForm) }}

		</div>
	</div>
{% endblock %}
