{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
   <h1>Liste des membres disponibles</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:5%">id</th>
                <th style="width:15%">pseudo</th>
                <th style="width:10%">civilite</th>
                <th style="width:20%">Nom et Prénom</th>
                <th style="width:25%">email</th>
                <th style="width:10%">role</th>
                <th style="width:15%">actions</th>
            </tr>
            
        </thead>
          <tbody>
            {%  for membre in membres %}
                <tr>
                    <td class="align-middle">{{ membre.id }}</td>
                    <td class="align-middle">{{ membre.pseudo}}</td>
                    <td class="align-middle">{{ membre.civilite}}</td>
                    <td class="align-middle">{{ membre.fullName}}</td>
                    <td class="align-middle">{{ membre.email}}</td>
                    {#  rajoute la ligne action #}
                    
                </tr>
            {% else %}
                <tr>
                    <td colSpan="7">aucun véhicule enregistré pour le moment</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
