<div class="card">
	<div class="card-image">
		<img src="{{ vich_uploader_asset(p, 'imageFile') }}" class="w-100" alt="image du produit">
	</div>
	<h2 class="card-title">{{ p.name }}
		{{ p.price | amount }}</h2>
		<span class="badge bg-info">
			{{ p.category.name }}
		</span>
	<p class="overflow-hidden  p-3">{{ p.shortDescription }}</p>
	<a href="{{ path('product_show', {'category_slug': p.category.slug, 'slug':p.slug}) }}" class="btn btn-warning btn-sm">Détails du produit</a>
		<a href="{{ path('cart_add', {'id': p.id}) }}" class="btn btn-success btn-sm">Ajouter au panier</a>
</div>



