{% extends "base.html.twig" %}


{% block title %}
	Création d'un produit
{% endblock %}
{% block body %}
<div class="imagecontainercreation">
<div class="container">

	<h1>Nouveau produit</h1>

	{#{{  form(formView) #
			}}#}

	{{ form_start(formView) }}

	{{ form_errors(formView) }}


		
			{{ form_row(formView.name) }}
			{{ form_row(formView.price) }}
			{{ form_row(formView.imageFile) }}

		
			
			{{ form_row(formView.category) }}
		
			{{ form_row(formView.shortDescription) }}


	

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Créer le produit
	</button>
</div>
</div>
	{{ form_end(formView) }}
{% endblock %}


