<!DOCTYPE html>
<html>
	<head>


		<meta charset="UTF-8">
		<title>
			{% block title %}Royaume des Duellistes
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('icons/oeilmilenium.ico') }}">
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
		<link rel="stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}

	</head>
	<body onload="slider()">

		<div class="banner">

			<div class="slider">
				<img src="{{ asset('images/banniereyugi.jpg') }}" id="slideImg">

			</div>


			<div class="overlay">


				{% include "shared/_navbar.html.twig" %}


				{% block body %}{% endblock %}


				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
				<script>
					var slideImg = document.getElementById("slideImg");
var images = new Array("{{ asset('images/banniereyugi.jpg') }}", "{{ asset('images/exodia.jpg') }}", "{{ asset('images/yugivskaiba.jpg') }}", "{{ asset('images/duelliste.jpg') }}", "{{ asset('images/egyptedivin.jpg') }}", "{{ asset('images/exodiavsdb.jpg') }}", "{{ asset('images/heros.jpg') }}", "{{ asset('images/yugilekemit.jpg') }}", "{{ asset('images/cartesmains.jpg') }}");

var len = images.length;
var i = 0;

function slider() {
if (i > len - 1) {
i = 0;
}
slideImg.src = images[i];
i++;
setTimeout('slider()', 6000);

}
				</script>


				{% block javascripts %}


					{{ encore_entry_script_tags('app') }}
				{% endblock %}
			</div>
		</div>

		<footer>
			<div class="container py-4">
				<li>
					<a href="{{ path('contactmessage')}}">Contactez-nous</a>
				</li>
				<li>
					<a href="{{ path('infos_legal') }}">Informations légales</a>
				</li>
				<li>
					<a href="{{ path('infos_cgv') }}">CGV</a>
				</li>
				<li>
					<a href="{{ path('infos_livraisons') }}">Livraisons</a>
				</li>

				<span class="separator"></span>

				<p>2022 &copy; Royaume des duellistes</p>

			</div>

		</footer>

	</body>
</html>
